<div *ngIf="loading" style="display: flex; justify-content: center">
  <mat-spinner style="height: 100vh"></mat-spinner>
</div>

<button class="btn btn-primary" (click)="exportToTxt(masterData)">
  GIME LIST
</button>
<div style="display: flex; flex-direction: row; height: 50px">
  <button
    [routerLink]="['/data/0']"
    class="btn btn-primary plus"
    style="border-radius: 100%; width: 40px; height: 40px"
  >
    <i class="bi bi-plus"></i>
  </button>
  <button class="btn" (click)="search()">
    <h2><i class="bi bi-search"></i></h2>
  </button>
  <input
    class="form-control"
    name="input"
    [(ngModel)]="input"
    type="text"
    (keyup)="search()"
  />
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Jméno</th>
      <th scope="col">Číslo</th>
      <th scope="col">Oddělení</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of filteredData" [routerLink]="['/data/' + d.id]">
      <td>{{ d.name }}</td>
      <td>{{ d.phone }}</td>
      <td>{{ d.departmentId }}</td>
    </tr>
  </tbody>
</table>
