<h1>Zpracování dat</h1>
<div
  class="mb-3 mt-5 shadow-sm"
  style="
    background-color: rgb(249, 249, 249);
    border-radius: 25px;
    padding: 20px;
    width: 500px;
  "
>
  <input
    type="text"
    class="form-control"
    [(ngModel)]="invoiceNumber"
    placeholder="..vyberte fakturu ke zpracování"
  />
  <label for="" class="form-label mt-2">Číslo faktury</label>
  <input
    class="form-control"
    style="width: 400px"
    type="file"
    label="soubor"
    #file
    (change)="onFileChange($event)"
  />

  <label for="formFile" class="form-label text-muted mt-2"
    >Vyberte soubor k načtení<br />jiný formát než .xlsx nemusí fungovat
    správně.</label
  >
  <div>
    <button class="btn btn-primary" (click)="onFileClick()">
      Nahrát <i class="bi bi-upload"></i>
    </button>
  </div>
</div>
<div
  class="d-flex"
  style="gap: 5px; margin-bottom: 10px; margin-top: 30px"
  *ngIf="!singleView"
>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="onCompany"
      id="onCompany"
      checked
      [value]="'vypis'"
      (click)="isChecked()"
      [(ngModel)]="filter.type"
    />
    <label class="form-check-label" for="onCompany"> Výpis </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="personal"
      id="personal"
      checked
      [value]="'strediska'"
      (click)="isChecked()"
      [(ngModel)]="filter.type"
    />
    <label class="form-check-label" for="personal"> Střediska </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      name="personal"
      id="personal"
      checked
      [value]="'export'"
      (click)="isChecked()"
      [(ngModel)]="filter.type"
    />
    <label class="form-check-label" for="personal"> Export </label>
  </div>
</div>

<div class="bd-example" *ngIf="filter.type === 'vypis' && !singleView">
  <div>
    <input
      type="text"
      name="input"
      [(ngModel)]="input"
      class="ds-input form-control"
      style="width: 400px"
      (keyup)="filterAndSearch(asignedDepartmetns)"
    />
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Faktura</th>
        <th scope="col">Osoba</th>
        <th scope="col">Číslo</th>
        <th scope="col">Bez DPH</th>
        <th scope="col">S DPH</th>
        <th scope="col">Oddělení</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of asignedDepartmetns">
        <td>{{ d.invoice }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.number }}</td>
        <td>{{ d.noDph }}</td>
        <td>{{ d.dph }}</td>
        <td>{{ d.departmentId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="bd-example" *ngIf="filter.type === 'strediska' && !singleView">
  <div>
    <h3>Souhrn s DPH je {{ sumPrice | number : "1.2-2" }} Kč</h3>
  </div>
  <table
    *ngIf="filter.type === 'strediska' && !singleView"
    class="table table-hover"
  >
    <thead>
      <tr>
        <th scope="col">Kód</th>
        <th scope="col">Oddělení</th>
        <th scope="col">bez DPH</th>
        <th scope="col">S DPH</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of summaryOfDepartments" (click)="singleDep(d)">
        <th scope="row">{{ d.code }}</th>
        <td>{{ d.name }}</td>
        <td>{{ d.noDph }}</td>
        <td>{{ d.dph }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="bd-example" *ngIf="singleView">
  <button class="btn btn-primary" (click)="back()">Zpět</button>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Číslo Faktury</th>
        <th scope="col">Osoba</th>
        <th scope="col">Číslo</th>
        <th scope="col">Bez DPH</th>
        <th scope="col">S DPH</th>
        <th scope="col">Oddělení</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of selectedDep">
        <td>{{ d.invoice }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.number }}</td>
        <td>{{ d.noDph | number : "1.2-2" }}</td>
        <td>{{ d.dph | number : "1.2-2" }}</td>
        <td>{{ d.departmentId }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="bd-example" *ngIf="filter.type === 'export'">
  <div class="d-flex">
    <button class="btn-primary btn" (click)="copyToClipboard()">
      <i class="bi bi-clipboard-plus"></i>
    </button>
    <p *ngIf="copied" style="margin: 15px">Zkopírováno</p>
  </div>

  <table class="table table-hover" id="export">
    <thead>
      <tr>
        <th scope="col">Účet</th>
        <th scope="col">a</th>
        <th scope="col">b</th>
        <th scope="col">Kč</th>
        <th scope="col">c</th>
        <th scope="col">ZnakDPH</th>
        <th scope="col">Středisko</th>
        <th scope="col">d</th>
        <th scope="col">Období</th>
        <th scope="col">Závod</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of summaryOfDepartments">
        <td>682022000</td>
        <td></td>
        <td></td>
        <td>{{ d.dph | number : "1.2-2" }}</td>
        <td></td>
        <td>H5</td>
        <td>{{ d.code }}</td>
        <td></td>
        <th scope="col">202302</th>
        <th scope="col">Vrbno</th>
      </tr>
    </tbody>
  </table>
</div>
