.hp-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.card {
  position: relative;
  height: 200px;
  width: 300px;

  overflow: hidden;
}
.card h3 {
  margin: 0;
}
.text-part {
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: rgb(186, 205, 255);
  height: 40%;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
button {
  width: 80px;
  margin: 0;
}
.cardpic {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
