<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <i class="bi bi-telephone"></i>
      <a class="navbar-brand" [routerLink]="['/']">telsor</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <div *ngIf="authService.isLoggedIn()" class="d-flex">
          <ul class="navbar-nav flex-grow">
            <li
              class="nav-item"
              style="border-right: solid 1px rgb(186, 205, 255)"
            >
              <a *ngIf="user" class="nav-link text-dark">{{ user.Email }}</a>
            </li>

            <li
              class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
                >Účtování</a
              >
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-dark" [routerLink]="['/data']">Data</a>
            </li>
          </ul>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>group</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Profil</button>
            <button mat-menu-item (click)="logout()">Odhlásit</button>
          </mat-menu>
        </div>
        <div *ngIf="!authService.isLoggedIn()">
          <button mat-button [routerLink]="['/login']">
            Přihlásit <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
